@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Varela Round', sans-serif;
  background-image: radial-gradient(
      hsla(350, 100%, 75%, 33%) 20%,
      transparent 20%
    ),
    radial-gradient(hsla(350, 100%, 66%) 20%, transparent 20%);
  background-color: hsl(350, 100%, 33%);
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}

header {
  text-align: center;
  background-color: hsl(350, 100%, 33%);
}

h1 {
  color: white;
  text-shadow: hsl(350, 100%, 13%) 0.1rem 0.1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-top: 0.3rem;
}

.header {
  color: hsla(350, 100%, 83%);
  margin: auto;
  margin-bottom: 1rem;
}

nav {
  text-shadow: hsl(350, 100%, 13%) 0.1rem 0.1rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:visited {
  color: white;
  text-decoration: none;
}

.body {
  margin-top: 0.3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.egg {
  width: fit-content;
  margin: 1rem;
  margin-top: 0;
  display: flex;
  width: 15rem;
  height: 18rem;
  background-color: hsl(16, 93%, 53%);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  box-shadow: hsl(350, 100%, 13%) 0.3rem 0.3rem 0.3rem 0.3rem;
  justify-content: center;
}

article {
  display: flex wrap;
  align-self: center;
  word-wrap: break-word;
  max-width: 75%;
}

.outline {
  text-shadow: -0.09rem 0 black, 0 0.09rem black, 0.09rem 0 black,
    0 -0.09rem black;
}
p a {
  color: white;
  text-decoration: none;
}
p a:visited {
  color: white;
  text-decoration: none;
}

p.link {
  margin: auto;
  font-family: 'Varela Round', sans-serif;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.list-display {
  background-color: hsl(0, 0%, 75%);
  border-radius: 1rem;
  display: flex wrap;
  border-style: solid;
  border-width: 0.3rem;
  border-top-color: hsl(16, 77%, 33%);
  border-left-color: hsl(16, 77%, 33%);
  border-right-color: hsl(16, 77%, 66%);
  border-bottom-color: hsl(16, 77%, 66%);
  line-height: 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 0.6rem;
}

.display {
  display: flex;
  grid-template-columns: 1fr 1fr;
  background-color: hsl(0, 0%, 75%);
  border-style: solid;
  border-width: 0.3rem;
  border-radius: 1rem;
  border-top-color: hsl(16, 77%, 33%);
  border-left-color: hsl(16, 77%, 33%);
  border-right-color: hsl(16, 77%, 66%);
  border-bottom-color: hsl(16, 77%, 66%);
  max-width: fit-content;
  line-height: 1.5rem;
}

p {
  width: fit-content;
  margin: 1rem;
  text-align: left;
  font-family: 'Press Start 2P', cursive;
}

h3 {
  text-align: center;
  color: white;
  text-shadow: hsl(300, 100%, 10%) 0.1rem 0.1rem;
}

form {
  background-color: hsl(0, 0%, 75%);
  padding: 0.3rem;
  margin: auto;
  border: thick solid hsl(0, 0%, 75%);
  border-radius: 1rem;
  max-width: max-content;
}

input {
  background-color: hsl(0, 0%, 75%);
  border: none;
  color: white;
}

.pet-info {
  align-self: center;
  max-width: max-content;
}

.menu {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin-top: 0.3rem;
}

button {
  margin: 0.5rem;
  padding: 0.5rem;
  max-width: 10rem;
  border: none;
  box-shadow: hsl(0, 0%, 23%) 0.1rem 0.1rem;
  font-family: 'Press Start 2P', cursive;
}

.zoom {
  margin: auto;
  background-color: hsl(16, 93%, 53%);
  border-radius: 1rem;
  box-shadow: hsl(350, 100%, 13%) 0.3rem 0.3rem 0.3rem 0.3rem;
  padding: 5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.zoom h2 {
  font-size: 2rem;
}

::placeholder {
  color: black;
}

.bottom {
  font-family: 'Varela Round', sans-serif;
  margin: auto;
  padding-top: 1rem;
  font-size: 1.3rem;
}

.grey {
  color: hsl(0, 0%, 20%);
}
